# 特定のファイルを除外
/www/image_sitemap.xml
/www/pdf_sitemap.xml
/www/sitemap.xml
/www/robots.txt
/.vscode/tasks.json
/app.yaml

# 特定のディレクトリを除外
www/**/anaimage/
www/**/icon/
www/image/
www/paint/

# キャッシュファイルを除外
__pycache__/
*.pyc
*.pyo

# 一時ファイルやログを除外
*.log
*.tmp

# OS依存の不要ファイルを除外
.DS_Store
Thumbs.db
