/* ●パンくずリスト */
.breadcrumb {
 display: flex;
 flex-wrap: wrap;
 list-style: none;
 padding: 10px 2%;
 /* 左右の余白を広げる */
 width: 95%;
 /* カード自体を画面幅の90%に広げる */
 background-color: #f8f9fa;
 border-radius: 5px;
 box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 font-size: 0.7em;
}

.breadcrumb-item {
 display: flex;
 /* 矢印とテキストを横並びに */
 align-items: center;
}

.breadcrumb-item+.breadcrumb-item::before {
 content: "›";
 /* 矢印をスマートに */
 color: #6c757d;
 margin: 0 6px;
 /* 矢印とテキストの間隔 */
 flex-shrink: 0;
 /* 矢印が潰れないように固定 */
}

.breadcrumb-item a {
 text-decoration: none;
 color: #1A73E8;
 transition: color 0.3s ease;
}

.breadcrumb-item a:hover {
 color: #0078D4;
 text-decoration: underline;
}

.breadcrumb-item.active {
 font-weight: bold;
 color: #6c757d;
}


/* 検索ボックスの調整 */
.search-container {
 width: 50%;
 margin-top: 20px;
 margin-left: auto;
 background-color: white;
 border-radius: 10px;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 padding: 5px;
}

.gcse-search {
 width: 100%;
}

input.gsc-input,
input.gsc-search-button {
 width: 100%;
 border-radius: 10px;
 padding: 5px;
}
