@charset "UTF-8";

.video-card {
 max-width: 80%;
 margin: 20px auto;
 padding: 20px;
 border: 1px solid #ccc;
 border-radius: 10px;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 background-color: #fff;
 position: relative;
}

.video-card .special-title {
 margin-bottom: 10px;
 margin-top: 5px;
 /* 上側の余白を調整 */
}

.video-card p {
 color: #666;
 margin-bottom: 20px;
}

.video-card video {
 width: 100%;
 height: auto;
 border-radius: 10px;
}

hr.stylish {
 border: 0;
 height: 5px;
 background: linear-gradient(to right, rgba(0, 255, 0, 0), rgba(0, 255, 0, 0.3), rgba(255, 0, 0, 0.3), rgba(255, 255, 0, 0.3), rgba(128, 128, 128, 0.3), rgba(128, 128, 128, 0));
}

.controls {
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
}

.control-btn {
 background-color: rgba(0, 123, 255, 0.7);
 color: white;
 border: 2px solid rgba(0, 123, 255, 0.7);
 padding: 5px 5px;
 margin: 5px;
 border-radius: 5px;
 cursor: pointer;
 transition: background-color 0.3s ease, transform 0.3s ease;
}

.play-pause {
 background-color: rgba(40, 167, 69, 0.7);
 border: 2px solid rgba(40, 167, 69, 0.7);
}

.play-pause:hover {
 background-color: rgba(40, 167, 69, 0.9);
}

.play-pause::before {
 content: "\f04b";
 font-family: "Font Awesome 5 Free";
 font-weight: 900;
 margin-right: 5px;
}

.stop {
 background-color: rgba(220, 53, 69, 0.7);
 border: 2px solid rgba(220, 53, 69, 0.7);
}

.stop:hover {
 background-color: rgba(220, 53, 69, 0.9);
}

.stop::before {
 content: "\f04d";
 font-family: "Font Awesome 5 Free";
 font-weight: 900;
 margin-right: 5px;
}

.mute-unmute {
 background-color: rgba(255, 193, 7, 0.7);
 border: 2px solid rgba(255, 193, 7, 0.7);
}

.mute-unmute:hover {
 background-color: rgba(255, 193, 7, 0.9);
}

.mute-unmute::before {
 content: "\f6a9";
 font-family: "Font Awesome 5 Free";
 font-weight: 900;
 margin-right: 5px;
}

.pip {
 background-color: rgba(108, 117, 125, 0.7);
 border: 2px solid rgba(108, 117, 125, 0.7);
}

.pip:hover {
 background-color: rgba(108, 117, 125, 0.9);
}

.pip::before {
 content: "\f2d8";
 font-family: "Font Awesome 5 Free";
 font-weight: 900;
 margin-right: 5px;
}

@media (max-width: 600px) {
 .control-btn {
  margin: 5px;
 }
}

/* google-drive */
.custom-google-drive-container {
 display: block;
 text-align: center;
 padding: 20px;
 background: linear-gradient(135deg, #f8f9fa, #e9ecef);
 border-radius: 15px;
 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.custom-google-drive-container h4 {
 margin-top: 10px;
}

.custom-google-drive-container p {
 text-align: left;
 margin: 10px 0;
}

.custom-google-drive-container .google-drive-text {
 text-align: center;
 margin: 10px 0;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 1.2em;
 color: #333;
 background: #fff;
 padding: 10px 15px;
 border-radius: 5px;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-google-drive-iframe {
 width: 80%;
 height: auto;
 aspect-ratio: 16 / 9;
 margin: 10px auto;
 border: 5px solid #343a40;
 border-radius: 10px;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-google-drive-container .fa-google-drive {
 color: #1A73E8;
 margin-right: 10px;
}
