@charset "UTF-8";

/* ★スクロールトップボタン */
#scrollToTopBtn {
 position: fixed;
 bottom: 20px;
 right: 20px;
 display: none;
 padding: 10px 20px;
 background-color: #007bff;
 color: white;
 border: none;
 border-radius: 5px;
 cursor: pointer;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
 z-index: 1000;
}

#scrollToTopBtn:hover {
 background-color: #0056b3;
 transform: scale(1.1);
 box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
 #scrollToTopBtn {
  padding: 8px 16px;
  font-size: 14px;
 }
}

/* ★w3cの小さい画像を横に並べる */
div.w3ccheck {
 display: flex;
 align-items: center;
}

.w3ccheck img {
 margin-right: 10px;
}

/* ★両側が細くなる黒い罫線を作る */
#feinhr {
 border: none;
 height: 1px;
 background: linear-gradient(to right, transparent, black, transparent);
}

/* ★ソースコードを綺麗に表示する */
.code-container {
 background-color: #2d2d2d;
 border-radius: 8px;
 padding: 1px;
 overflow: hidden;
 color: #f8f8f2;
 font-family: 'Courier New', Courier, monospace;
}

pre {
 margin: 0 !important;
 padding: 1px 20px !important;
 white-space: pre-wrap;
}

.codecolor {
 color: #0033ff;
}

/* ★特定範囲内にテキスト表示する（fein's portal introduction） */
.portal {
 text-align: left;
 width: 55%;
 margin-left: 0;
 max-width: 100%;
}

/* ★フッターの共通記載を浮き立たせる */
.commongdl {
 padding: 10px 20px 20px 20px;
 border-radius: 10px;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* ★フッターに表示するサイトマップリンクを作る */
.sitemap {
 margin: 0 0 20px 0;
 padding: 20px;
 border: 1px solid #ddd;
 border-radius: 10px;
 background-color: #f9f9f9;
}

.fa-sitemap {
 margin-right: 5px;
}

/* ★資格証の表示 */
.biggraphic {
 max-width: 100%;
 height: auto;
 border-radius: 10px;
 margin-bottom: 20px;
}

/* ★SNSの表示 */
.social-links,
.footer-links {
 display: block;
 text-align: left;
}

.social-links a,
.footer-links a {
 color: #007bff;
 text-decoration: none;
 padding: 0 10px;
 display: inline-block;
 white-space: nowrap;
 margin-top: 3px;
 margin-bottom: 3px;
}

.social-links a:hover,
.footer-links a:hover {
 color: #0056b3;
 margin-top: 3px;
 margin-bottom: 3px;
}

svg {
 width: 14px;
 height: 14px;
 fill: #007bff;
 vertical-align: -2px;
}

@media (max-width: 600px) {

 .social-links,
 .footer-links {
  flex-direction: column;
 }
}

/* ★著作権の表示 */
.copyright {
 color: #555;
 font-size: 12px;
 margin-top: 10px;
}

/* ★タイピングエフェクト */
.feintyping {
 white-space: pre;
 /* 改行保持 */
 overflow: hidden;
 position: relative;
}

.cursor {
 display: inline-block;
 width: 3px;
 background: black;
 animation: blink .7s step-end infinite alternate;
}

@keyframes blink {
 50% {
  background: transparent;
 }
}
