@charset "UTF-8";

/* ★グローバルナビゲーションを構成する */
@keyframes underline-animation {
 from {
  width: 0;
  background: #00CC00;
 }

 to {
  width: 100%;
  background: #4285F4;
 }
}

.animated-link {
 position: relative;
 color: #4285F4;
 text-decoration: none;
}

.animated-link::after {
 content: "";
 position: absolute;
 left: 0;
 bottom: -2px;
 width: 0;
 height: 2px;
 background: #00CC00;
 transition: width 0.5s;
}

.animated-link.loaded::after {
 width: 100%;
 background: #4285F4;
 animation: underline-animation 2s forwards;
}

.den_nav {
 background: linear-gradient(to bottom, rgba(173, 216, 230, 0.5), rgba(173, 216, 230, 0));
 color: #4285F4;
 padding: 10px;
 border-radius: 20px;
}

.feinhome {
 width: 50px;
 margin-left: 3px;
 margin-top: 3px;
 display: block;
 position: relative;
 top: 3px;
 left: 3px;
}

.den_nav ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
 display: flex;
 flex-wrap: wrap;
}

.den_nav ul li {
 margin-right: 20px;
 margin-bottom: 10px;
}

.den_nav ul li a {
 color: #4285F4;
}

.den_nav ul li a:hover {
 color: #0078D4;
}

/* ★ヘッダー画像の基本スタイル（静止状態でLCPを確保） */
.header-image {
 max-width: 100%;
 /* 親要素に応じてスケーリング */
 height: auto;
 /* アスペクト比を維持 */
 display: block;
 margin: 0 auto;
 background: linear-gradient(to bottom, #ffffff, #e0f7fa);
 padding: 20px;
 border-radius: 15px;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 opacity: 1;
 transform: translateX(0);
 transition: none;
}

/* ★ヘッダー全体の枠・コンテナのスタイル */
.header-frame {
 border: 5px solid transparent;
 padding: 10px;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 border-radius: 15px;
 margin: 10px;
 max-width: 100%;
 box-sizing: border-box;
 animation: border-draw 3s linear forwards;
}

.header-container {
 position: relative;
 text-align: center;
}

.header-text {
 position: absolute;
 bottom: 10px;
 left: 10px;
 transform: translate(0, 0);
 font-size: 24px;
 color: white;
 background-color: rgba(0, 0, 0, 0.5);
 padding: 10px 20px;
 border-radius: 10px;
 box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-text a {
 color: white;
 text-decoration: none;
 transition: color 0.3s;
}

.header-text a:hover {
 color: #dcdcdc;
}

/* アニメーション */
@keyframes border-draw {
 0% {
  border-color: transparent;
  border-width: 5px 0 0 0;
 }

 12.5% {
  border-color: #99CCFF;
  border-width: 5px 5px 0 0;
 }

 25% {
  border-color: #99CCFF;
  border-width: 5px 5px 5px 0;
 }

 37.5% {
  border-color: #99CCFF;
  border-width: 5px 5px 5px 5px;
 }

 50% {
  border-color: #99CCFF;
 }

 62.5% {
  border-color: #99CCFF;
 }

 75% {
  border-color: #99CCFF;
 }

 87.5% {
  border-color: #99CCFF;
 }

 100% {
  border-color: #99CCFF;
 }
}
