.fden-hamburger-menu {
 position: relative;
}

.fden-hamburger-button {
 font-size: 16px;
 cursor: pointer;
 color: #1A73E8;
 background: linear-gradient(to bottom, rgba(173, 216, 230, 0.5), rgba(173, 216, 230, 0));
 border: none;
 padding: 10px;
 border-radius: 5px;
 font-weight: bold;
 letter-spacing: 0.3px;
 text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
 transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.fden-hamburger-button:hover {
 background: linear-gradient(to bottom, rgba(173, 216, 230, 0.2), rgba(173, 216, 230, 0));
}

.fden-menu {
 display: none;
 position: absolute;
 top: 40px;
 left: 0;
 background: linear-gradient(to right,
   rgba(255, 248, 220, 0.35),
   rgba(255, 255, 255, 0.35));
 backdrop-filter: blur(6px);
 -webkit-backdrop-filter: blur(6px);
 border: 1px solid rgba(255, 255, 255, 0.2);
 box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
 z-index: 1000;
 opacity: 0;
 transition: opacity 0.5s ease, transform 0.5s ease;
 transform: translateY(-10px);
 border-radius: 18px;
}

.fden-menu.show {
 display: block;
 opacity: 1;
 transform: translateY(0);
}

.fden-menu a {
 display: block;
 padding: 15px;
 text-decoration: none;
 font-weight: bold;
 letter-spacing: 0.3px;
 text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
 color: #1A73E8;
 transition: color 0.3s ease-in-out;
}

.fden-menu a:hover,
.fden-submenu a:hover,
.fden-menu .fden-submenu-toggle1:hover,
.fden-menu .fden-submenu-toggle2:hover {
 color: #0A1F44;
}

.fden-submenu {
 display: none;
 padding-left: 20px;
 opacity: 0;
 transition: opacity 0.5s ease, transform 0.5s ease;
 transform: translateY(-10px);
}

.fden-submenu.show {
 display: block;
 opacity: 1;
 transform: translateY(0);
}

.fden-menu .fden-submenu-toggle1 {
 font-weight: bold;
 letter-spacing: 0.3px;
 text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
 color: #1A73E8;
 cursor: pointer;
}

.fden-menu .fden-submenu-toggle2 {
 font-weight: bold;
 letter-spacing: 0.3px;
 text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
 color: #0078D4;
 cursor: pointer;
}

.fden-submenu#fden-submenu1 a {
 font-weight: bold;
 letter-spacing: 0.3px;
 text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
 color: #0078D4;
 transition: color 0.3s ease-in-out;
}

.fden-submenu#fden-submenu1 a:hover {
 color: #0A1F44;
}

@media (max-width: 768px) {
 .fden-hamburger-button {
  font-size: 14px;
  padding: 8px;
 }

 .fden-menu a {
  padding: 10px;
 }
}
